{include file="public/header"}

<style>
    .table{
        font-size: 14px;
    }
    .line40{
        line-height: 40px;
    }
    .elips{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .tooltip-inner{
        text-align: left !important;
        max-width: 500px !important;
    }
</style>

<!-- Page Container -->
<div class="page-container">
    <!-- Page Sidebar -->
    {include file="public/sidebar"}
    <!-- /Page Sidebar -->

    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Inner -->
        <div class="page-inner">
            <div class="page-title">
                <h3 class="breadcrumb-header">毒—App</h3>
            </div>
            <div id="main-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-white add-box" style="display: none">
                            <div class="panel-body">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">添加购买</h4>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label>货号</label>
                                        <input type="text" class="form-control add-articleNumber" value="" placeholder="货号">
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label>尺码</label>
                                        <input type="text" class="form-control add-size" value="" placeholder="尺码">
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label>成本</label>
                                        <input type="number" class="form-control add-cost" value="" placeholder="成本">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>购买日期</label>
                                        <input type="text" class="form-control add-buyDate date-picker" readonly="readonly">

                                    </div>

                                    <div class="form-group col-md-1">
                                        <label>确认添加</label>
                                        <button class="btn btn-primary sure-add">添加</button>
                                    </div>
                                </div>
                                <div class="row" style="display: none;">
                                    <div class="alert alert-danger add-alert" role="alert" style="margin-bottom:0;"></div>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-white">
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title">盈利统计</h4>
                            </div>
                            <div class="row">
                                <FORM method="get" class="form" action="{:url('index/money')}">
                                    <div class="form-group col-md-2">
                                        <label>名称</label>
                                        <input type="text" class="form-control" name="title" value="{$data.where.title}" placeholder="名称">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>货号</label>
                                        <input type="text" class="form-control" name="articleNumber" value="{$data.where.articleNumber}" placeholder="名称">
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label>搜索结果</label>
                                        <button class="btn btn-primary">搜索</button>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label>添加购买</label>
                                        <a class="btn btn-primary add-btn">添加</a>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label>清除缓存</label>
                                        <a class="btn btn-default clear-btn">清除缓存</a>
                                    </div>

                                </FORM>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <h3 class="panel-title">总数：{$data.total_num}</h3>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="panel-title">总成本：{$data.total_cost}</h3>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="panel-title">总收益：{$data.total_profit}</h3>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="panel-title">平均利率比：{$data.total_ceil}%</h3>
                                </div>



                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>名称</th>
                                            <th>货号</th>
                                            <th>尺码</th>
                                            <th>图片</th>
                                            <th>成本</th>
                                            <th>价格</th>
                                            <th>纯利润</th>
                                            <th>利率比</th>
                                            <th>购买日期</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="data.list_arr" id="v"}
                                        <tr>
                                            <td width="450" class="elips">
                                                <a href="/?articleNumber={$v.articleNumber}" target="_blank">
                                                <img src="https://du.hupucdn.com/news_byte1022byte_9774f29b986b8773640120bf4c07cc2e_w100h100.png" width="16" height="16">
                                                {$v.title}
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/?articleNumber={$v.articleNumber}" target="_blank">
                                                    {$v.articleNumber}
                                                </a>
                                            </td>
                                            <td>{$v.size}</td>
                                            <td><a href="{$v.image}" target="_blank"><img src="{$v.image}" width="50"></a></td>
                                            <td>{$v.cost}</td>
                                            <td>{$v.price}</td>
                                            <td>
                                                <a href="javascript:;" class="info-tool" data-toggle="tooltip" data-placement="top" data-original-title="手续费(毒)：{$v.charge}  转运：100">
                                                {$v.profit}
                                                </a>
                                            </td>
                                            <td>{$v.ceil}%</td>
                                            <td>{$v.buyDate|date="Y-m-d",###}</td>
                                            <td>
                                                <button class="btn btn-danger del-btn" data-id="{$v._id}">删除</button>
                                            </td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                </div>
                                <center>
                                    {$data.list->render()}
                                </center>
                            </div>
                        </div>
                    </div>
                </div><!-- Row -->
            </div><!-- Main Wrapper -->

        </div><!-- /Page Inner -->
    </div><!-- /Page Content -->
</div><!-- /Page Container -->

<!-- 统计代码 -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1276403292'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1276403292' type='text/javascript'%3E%3C/script%3E"));</script>

{include file="public/footer"}
<script>
    $(document).ready(function(){
        $('.info-tool').tooltip();

    });
    $('.add-btn').click(function(){
        $('.add-box').toggle(300);
    });

    $('.sure-add').click(function () {
        var form_data = {
            'articleNumber':$('.add-articleNumber').val(),
            'size':$('.add-size').val(),
            'cost':$('.add-cost').val(),
            'buyDate':$('.add-buyDate').val(),
        };
        $.post("{:url('index/ajaxAdd')}",form_data,function (ret) {
            if (ret['code'] != 200){
                $('.add-alert').html(ret.msg).parent().show();
            }else{
                $('.add-alert').removeClass('alert-danger').addClass('alert-success').html(ret.msg);
                location.reload();
            }
            console.log(ret)
        })
    });

    $('.del-btn').click(function () {
        var obj = $(this);
        var form_data = {
            'id':$(this).data('id'),
        };

        $.post("{:url('index/ajaxDel')}", form_data, function (ret) {
            if (ret['code'] == 200){
                obj.parent().parent().remove();
            }
            console.log(ret);
        })
    });
    $('.clear-btn').click(function () {
        $.post("{:url('index/ajaxClear')}", {}, function (ret) {
            location.reload();
        })
    })
</script>
