{include file="public/header"}
{include file="public/sidebar"}
{include file="public/page_header"}
<body>
<div class="panel panel-white">
    <div class="page-title">
        <h3 class="breadcrumb-header">购买统计</h3>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-success m-b-sm" data-toggle="modal" data-target="#myModal">添加购买商品</button>
        <div class="table-responsive">
            <table id="example3" class="display table" style="width: 100%; cellspacing: 0;">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>产品</th>
                    <th>配色</th>
                    <th>尺码</th>
                    <th>Salary</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</div>
</div><!-- Row -->
</div><!-- Main Wrapper -->
</div><!-- /Page Inner -->
<!-- Javascripts -->
<script>

</script>

</body>
</html>