{include file="public/header"}
<style>
    .page-inner {
        background: url("https://6hack.danluogy.com/%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20190301151202.png") no-repeat;
    }

    .panel-white {
        box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
    }

    .page-title {
        margin-top: 80px;
    }
</style>
<!-- Page Container -->
<div class="page-container">
    <!-- Page Sidebar -->
    <!-- /Page Sidebar -->

    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Header -->
        <!-- /Page Header -->
        <!-- Page Inner -->
        <div class="page-inner">
            <div class="page-title">
                <h2 class="breadcrumb-header" style="color: white!important">RANK666</h2>
            </div>
            <div id="main-wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-white">
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title">输入你要查找的鞋子: 货号 或 名称</h4>
                            </div>
                            <div class="panel-body">
                                <div class="input-group">
                                    <input type="text" class="form-control articleNumber" value="CD0461-401" placeholder="货号 或 名称 例：Air Jordan 1 “Turbo Green” 蒂芙尼绿 2019全明星 或 555088-311">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-info dropdown-toggle sure-btn"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <span class="fa fa-search"></span>查找
                                        </button>
                                    </div>
                                </div>
                                <div class="alert alert-danger ret-msg" role="alert"
                                     style="margin-bottom:0;display: none"></div>
                                <!-- Split button -->
                                <div class="btn-group">

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-body">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">
                                        <span class="product-sellDate"></span><br/>
                                        <span class="product-articleNumber"></span><br/>
                                        <span class="product-title"></span>
                                    </h4>
                                </div>
                                <div class="btn-group-vertical m-t-xs">
                                    <img class="product-image" src="" width="200">
                                </div>
                                <h4 class="header-text" style="padding-top:20px;padding-bottom:15px;">尺码销量(双)——总销量:<span
                                        class="product-soldNum">14568</span></h4>
                                <div class="btn-group btn-group-justified" role="group"
                                     aria-label="Justified button group">
                                    <div class="row fontawesome-icon-list sold-list">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="alert alert-default" role="alert">
                            公告：每日 6:00 更新数据  支持手机横屏观看
                        </div>
                        <div class="alert alert-default" role="alert">
                            提示： 为了方便观看 只显示 40 - 44 的尺码。需要显示其他尺码话, 可以点击对应尺码
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title">价格——折线统计图</h4>
                            </div>
                            <div class="panel-body" id="echart_1" style="height: 800px;">

                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title">销量——折线统计图</h4>
                            </div>
                            <div class="panel-body" id="echart_2" style="height: 800px;">

                            </div>
                        </div>
                    </div>
                </div><!-- Row -->
            </div><!-- Main Wrapper -->
        </div><!-- /Page Inner -->

    </div><!-- /Page Content -->
</div><!-- /Page Container -->


{include file="public/footer"}

<script>
    $(function(){
        if (getParam('articleNumber') != null){
            $('.articleNumber').val(getParam('articleNumber'));
        }
        $('.sure-btn').click();
    });
    // enter 键
    $("body").keydown(function () {
        if (event.keyCode == "13") {
            $('.sure-btn').click();
        }
    });

    // 获取url 特定参数
    function getParam(paramName) {
        paramValue = "", isFound = !1;
        if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) {
            arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0;
            while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++
        }
        return paramValue == "" && (paramValue = null), paramValue
    }

    $('.sure-btn').click(function () {
        var myChart = echarts.init(document.getElementById('echart_1'));
        var myChart2 = echarts.init(document.getElementById('echart_2'));

        var day = $('.day').val();
        var articleNumber = $('.articleNumber').val();

        $.get("{:url('index/AjaxProductOne')}", {day: day, articleNumber: articleNumber}, function (ret) {
            if (ret.retcode != 200) {
                $('.ret-msg').html(ret.msg).show();
                return false;
            }
            $('.ret-msg').hide();

            $('.product-sellDate').html('发售：' + ret['data']['product']['sellDate']);           // 发售日期
            $('.product-title').html(ret['data']['product']['title']);                           // 名称
            $('.product-articleNumber').html('货号：' + ret['data']['product']['articleNumber']); // 货号
            $('.product-soldNum').html(ret['data']['product']['soldNum']);                       // 总销量
            $('.product-image').attr('src', ret['data']['product']['image']);                    // 图片

            // 尺码销量
            sizeDom = '';
            $('.sold-list').empty();
            ret['data']['soldList'].forEach(function (v, k) {
                sizeDom = '<div class="fa-hover col-sm-5">\n' +
                    '                                            <div class="btn-group">\n' +
                    '                                                <button type="button" class="btn btn-primary" style="width: 60px">' + v['size'] + '</button>\n' +
                    '                                                <button type="button" class="btn btn-default" style="width: 70px">' + v['soldNum'] + '</button>\n' +
                    '                                            </div>\n' +
                    '                                        </div>';
                $('.sold-list').append(sizeDom)
            });

            option = {
                title: {
                    text: ret.data['product']['title'],
                    top: 40,
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    type: 'scroll',
                    data: ret.data['sizeName'],
                    selected:ret.data['sizeSelected']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    top:'13%',
                    containLabel: true
                },
                toolbox: {
                    top:'5%',
                    show: true,
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        dataView: {readOnly: false},
                        magicType: {type: ['line', 'bar']},
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ret.data['time']
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value} 元'
                    },
                    min: function (value) {
                        return value.min - 500;
                    },
                    max: function (value) {
                        return value.max + 500;
                    }
                },
                series: ret.data['sizeList']
            };
            myChart.setOption(option)


            option2 = {
                title: {
                    text: ret.data['product']['title'],
                    top: 40,
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    type: 'scroll',
                    data: ret.data['soldSizeName'],
                    selected:ret.data['soldSelected']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    top:'13%',
                    containLabel: true
                },
                toolbox: {
                    top:'5%',
                    show: true,
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        dataView: {readOnly: false},
                        magicType: {type: ['line', 'bar']},
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ret.data['soldTime']
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value} 双'
                    },
                    min: function (value) {
                        return value.min - 50;
                    },
                    max: function (value) {
                        return value.max + 50;
                    }
                },
                series: ret.data['soldSizeList']
            };
            myChart2.setOption(option2)
        });
    });
</script>
