{include file="public/header"}

<!-- Page Container -->
<div class="page-container">
    <!-- Page Sidebar -->
    {include file="public/sidebar"}
    <!-- /Page Sidebar -->

    <!-- Page Content -->
    <div class="page-content">

        <!-- Page Inner -->
        <div class="page-inner">
            <div class="page-title">
                <h3 class="breadcrumb-header">毒—App</h3>
            </div>
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <input class="form-control size-text"  placeholder="输入尺码">
                        </div>
                        <div class="form-group col-sm-1">
                            <button type="submit" class="btn btn-danger sure-btn">转换</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>美码</th>
                                        <th>欧码</th>
                                        <th>厘米</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="size-us"></td>
                                        <td class="size-eu"></td>
                                        <td class="size-cm"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /Page Inner -->
    </div><!-- /Page Content -->
</div><!-- /Page Container -->


{include file="public/footer"}

<script>
    $('.sure-btn').click(function () {
        var size_text = $('.size-text').val();
        if (size_text){
            // 欧码
            var temp_eu = ((size_text + 18 - 0.5) * 2) - 10 + 1;
            $('.size-eu').html(temp_eu);
            // 美码
            var temp_us = (size_text - 18 + 0.5) / 2 + 10 - 1;
            $('.size-us').html(temp_us);
            // 厘米
            var temp_cm = size_text - 18 + 0.5;
            $('.size-cm').html(temp_cm);
        }
    });
</script>
