{include file="public/header"}



<!-- Page Container -->
<div class="page-container">
    <!-- Page Sidebar -->
    <!-- /Page Sidebar -->
    {include file="public/sidebar"}

    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Header -->
        {include file="public/page_header"}
        <!-- /Page Header -->


        <!-- Page Inner -->
        <div class="page-inner">
            <div class="page-title">
                <h3 class="breadcrumb-header">面板</h3>
            </div>
            <div id="main-wrapper">
                <!-- 盈利情况 -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-white stats-widget" style="height: 180px">
                            <div class="panel-body">
                                <div class="pull-left">
                                    <span class="stats-number">本月盈利：¥ {$data.profit}</span><br/><br/>
                                    <p class="stats-info">(上月盈利： ¥ {$data.last_profit})</p>
                                </div>
                                <div class="pull-right">
                                    {gt name="$data.profit" value="$data.last_profit"}
                                    <i class="icon-arrow_upward stats-icon" style="color: red"></i>
                                    {else/}
                                    <i class="icon-arrow_downward stats-icon" style="color: green"></i>
                                    {/gt}
                                    ¥ {$data.profit - $data.last_profit}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-white stats-widget" style="height: 180px">
                            <div class="panel-body">
                                <div class="pull-left">
                                    <span class="stats-number">本月成本：¥ {$data.buy_cost}</span><br/><br/>
                                    <p class="stats-info">  (上月成本： ¥ {$data.last_buy_cost})</p>
                                </div>
                                <div class="pull-right">
                                    {gt name="$data.buy_cost" value="$data.last_buy_cost"}
                                    <i class="icon-arrow_upward stats-icon" style="color: red"></i>
                                    {else/}
                                    <i class="icon-arrow_downward stats-icon" style="color: green"></i>
                                    {/gt}
                                    ¥ {$data.buy_cost - $data.last_buy_cost}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-white stats-widget" style="height: 180px">
                            <div class="panel-body">
                                <div class="pull-left">
                                    <span class="stats-number">本月销售额：¥ {$data.sold_price_total}</span><br/><br/>
                                    <p class="stats-info">(上月销售额： ¥ {$data.last_sold_price_total})</p>
                                </div>
                                <div class="pull-right">
                                    {gt name="$data.sold_price_total" value="$data.last_sold_price_total"}
                                    <i class="icon-arrow_upward stats-icon" style="color: red"></i>
                                    {else/}
                                    <i class="icon-arrow_downward stats-icon" style="color: green"></i>
                                    {/gt}
                                    ¥ {$data.sold_price_total - $data.last_sold_price_total}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-white stats-widget" style="height: 180px">
                            <div class="panel-body">
                                <div class="pull-left">
                                    <span class="stats-number">本月利率比：{$data.interest_rate * 100}%</span><br/><br/>
                                    <p class="stats-info">(上月利率比：{$data.last_interest_rate * 100}%)</p>
                                </div>
                                <div class="pull-right">
                                    {gt name="$data.interest_rate" value="$data.last_interest_rate"}
                                    <i class="icon-arrow_upward stats-icon" style="color: red"></i>
                                    {else/}
                                    <i class="icon-arrow_downward stats-icon" style="color: green"></i>
                                    {/gt}
                                    ¥ {$data.interest_rate - $data.last_interest_rate}%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 盈利情况 -->


                <!-- 鞋子统计 -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-white stats-widget">
                            <div class="panel-body">
                                <div class="pull-left">
                                    <span class="stats-number">{$data.shoes_total}</span>
                                    <p class="stats-info">本月鞋子总数  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-white stats-widget">
                            <div class="panel-body">
                                <div class="pull-left text-success">
                                    <span class="stats-number">{$data.send}</span>
                                    <p class="stats-info">已收到</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-white stats-widget">
                            <div class="panel-body">
                                <div class="pull-left">
                                    <span class="stats-number">{$data.buy}</span>
                                    <p class="stats-info">待收货</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-white stats-widget">
                            <div class="panel-body">
                                <div class="pull-left">
                                    <span class="stats-number">{$data.sold}</span>
                                    <p class="stats-info">已售出</p>
                                </div>
                          <!--       <div class="pull-right">
                                    <i class="icon-arrow_upward stats-icon"></i>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 鞋子统计 -->
                <!-- 鞋子价格折线图 -->

                <!-- 走势图 -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-heading clearfix layer_tip" data-tip="购买数量最多的前四款鞋子近期价格、销量折线图">
                                <h4 class="panel-title">利益相关</h4>
                            </div>
                            <div class="panel-body">
                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                        {volist name="$data.goods_max" key="k" id="v"}
                                            {if condition="$k==1"}
                                            <li role="presentation" class="active">
                                            {else/}
                                            <li role="presentation">
                                            {/if}
                                                <a href="#tab{$k}"  style="overflow: hidden;height: 54px;" class="tab_title{$k}" role="tab" data-toggle="tab">{$v}</a>
                                            </li>
                                        {/volist}
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        {volist name="$data.goods_max" key="k" id="v"}
                                            <div role="tabpanel" class="tab-pane active fade in" id="tab{$k}">
                                                <div id="echart_{$k}" style="height: 600px;">

                                                </div>
                                            </div>
                                        {/volist}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 相关鞋子状态 -->

                <!-- 转运信息 -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title">转运信息 支持：【转运四方】</h4>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>名称</th>
                                        <th>货号</th>
                                        <th>购买日期</th>
                                        <th>转运平台</th>
                                        <th>转运信息</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {volist name="$data.send_list" id="v"}
                                    <tr>
                                        <th width="30%">
                                            <img src="{$v.image}" width="35"><span>{$v.name}</span>
                                        </th>
                                        <td width="10%">{$v.number}</td>
                                        <td width="10%">{$v.buy_time}</td>
                                        <td width="10%">{$v.send_type_id}</td>
                                        <td width="40%" class="express layer_tip_width" data-express="{$v.send_type_id}" data-tip="无结果" data-code="{$v.send_code}">等待更新</td>
                                    </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div><!-- Row -->

            </div><!-- Main Wrapper -->
        </div><!-- /Page Inner -->

    </div><!-- /Page Content -->
</div><!-- /Page Container -->
{include file="public/script"}
{include file="public/footer"}
<script type="text/javascript">
    $('.upload').click(function(){
        layer.msg('转运功能正在更新中...');
    });
    $(function () {
        layer.load(2);
        {volist name="$data.goods_max" key="k" id="v"}
        // 基于准备好的dom，初始化echarts实例
        var myChart{$k} = echarts.init(document.getElementById('echart_{$k}'));
        // 指定图表的配置项和数据
        var form_data = {
            // 'day'           : day,
            'size_start'    : '{$data.size_start}',
            'size_end'      : '{$data.size_end}',
            'articleNumber' : '{$v}',
        };
        $.get("{:url('shoes/AjaxProductOne')}", form_data, function (ret) {
            if (ret.code != 200) {
                layer.closeAll('loading');
                $('.ret-msg').html(ret.msg).show();
                return false;
            }
            $('.tab_title{$k}').html(ret.data['product']['articleNumber']+ '<br>' + ret.data['product']['title']);
            var option = {
                title: {
                    text: ret.data['product']['title'],
                    top: 40,
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    type: 'scroll',
                    data: ret.data['sizeName'],
                    selected:ret.data['sizeSelected']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    top:'13%',
                    containLabel: true
                },
                toolbox: {
                    top:'5%',
                    show: true,
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        dataView: {readOnly: false},
                        magicType: {type: ['line', 'bar']},
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ret.data['time']
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value} 元'
                    },
                    min: function (value) {
                        return value.min - 500;
                    },
                    max: function (value) {
                        return value.max + 500;
                    }
                },
                series: ret.data['sizeList']
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart{$k}.setOption(option, true)
        });
        {/volist}

        $('.tab-pane').removeClass('active');
        $('.tab-pane').eq(0).addClass('active');
        layer.closeAll('loading');


        $('.express').each(function (k, v) {
            var obj = $(this);
            var form_data = {
                'express':obj.attr('data-express'),
                'code':obj.attr('data-code'),
            };
            $.get("{:url('express/get')}", form_data, function (ret) {
                if (ret.code == 200){
                    obj.html(ret.data.new).attr('data-tip', ret.data.list);
                }else{
                    obj.html(ret.data.msg);
                }
            })
        })
    });

</script>




