{include file="public/header"}
<link rel="stylesheet" href="__PUBLIC__/vip/css/style.css" type="text/css" media="all">


<!-- Page Container -->
<div class="page-container">
    <!-- Page Sidebar -->
    <!-- /Page Sidebar -->
    {include file="public/sidebar"}

    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Header -->
        {include file="public/page_header"}
        <!-- /Page Header -->


        <!-- Page Inner -->
        <div class="page-inner">
            <div class="page-title">
                <h3 class="breadcrumb-header">功能购买</h3>
            </div>
            <div id="main-wrapper">
                <!-- 鞋子价格折线图 -->
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="panel panel-white">
                            <div class="panel-body" style="height: 800px;">
                                <ul id="cardArea" class="card-area clearfix">
                                    <li class="card-item active">
                                        <div class="card">
                                            <div class="card-title title-even">
                                                <div class="content">
                                                    <div class="zq-product-img">
                                                        <i class="zq-icon icon40x40 crad-area-icon1"></i>
                                                    </div>
                                                    <h1>试用一个月</h1>
                                                    <p class="short-info">试的好才是真的好</p>
                                                </div>
                                            </div>
                                            <div class="card-content content-first bg-e8e8e8">
                                                <ul class="content-first-list">
                                                    <li>购买统计</li>
                                                    <li>转运查询</li>
                                                    <li>价格比对</li>
                                                    <li>单品查询</li>
                                                    <li>差价查询</li>
                                                    <li>鞋码阵列</li>
                                                    <li>每日鞋款</li>
                                                </ul>
                                            </div>
                                            <div class="card-content content-second">
                                                <div class="main-info">
                                                    <a href="#" target="_blank" class="no-effect">
                                                        <p class="main-head">功能介绍</p>
                                                    </a>
                                                    <p class="main-desc">1.本月盈利  本月盈利与上月对比  显示差额</p>
                                                    <p class="main-desc">2.本月成本  本月成本与上月对比  显示差额</p>
                                                    <p class="main-desc">3.本月销售额  总的卖出价格总计  与上月对比显示差额</p>
                                                    <p class="main-desc">4.本月利率比     盈利/ 成本</p>
                                                    <p class="main-desc">5.根据购买时间，统计本月鞋子总数   统计分为  转运中  已到达  已售出</p>
                                                    <p class="main-desc">6.价格折线图，  会根据你买的相关鞋款 尺码，显示毒最近30天这款鞋子的价格折线图  例如 北卡蓝 36码，就会显示这款码30天内的价格折线图</p>
                                                    <p class="main-desc">7.转运信息   通过你添加的鞋子的转运信息，自动显示目前转运最新情况，可以添加多个转运平台</p>
                                                    <p class="main-desc">8.鞋子出售统计。   会根据鞋子出售的平台，分别统计平台出售了多少双，多少销售额</p>
                                                    <p class="main-desc">9.多平台比价。会根据你的鞋款，显示nice、毒、目前两家平台30天的价格折线图，方便选一家价高的出售，后续支持很多平台</p>
                                                    <p class="main-desc">10.实时统计。会对比指定鞋款   stockx与nice、毒的实时比价每小时更新。自动带连接，直达stockx鞋款页面</p>
                                                    <p class="main-desc">11.鞋款利润统计。  可以通过你添加鞋款的购买时间或出售时间
                                                        分别以  12月为单位区分统计   也可以自定义时间统计
                                                        支持自定义时间 、鞋款状态（转运中、到货、已出售）、货号、名称、出售平台、转运平台、价格区间</p>
                                                    <p class="main-desc">12.鞋款阵列表  通过几张表的数据阵列，非常直观的看到每个尺码的每日销售情况，择优选择</p>
                                                    <p class="main-desc">13.每日鞋款的分析  男码、女码分析  特定尺码的分析</p>
                                                    <a href="#" target="_blank">
                                                        <button class="main-btn">立即试用 <i class="menu-icon fa fa-cny"></i> 0.01</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="card-item">
                                        <div class="card">
                                            <div class="card-title title-even">
                                                <div class="content">
                                                    <div class="zq-product-img">
                                                        <i class="zq-icon icon40x40 crad-area-icon2"></i>
                                                    </div>
                                                    <h1>营销与推广</h1>
                                                    <p class="short-info">全景覆盖  经济之选</p>
                                                </div>
                                            </div>
                                            <div class="card-content content-first bg-e1e1e1">
                                                <ul class="content-first-list">
                                                    <li>营销宝</li>
                                                    <li>大把推</li>
                                                    <li>易米通</li>
                                                    <li>Google Adwords</li>
                                                </ul>
                                            </div>

                                            <div class="card-content content-second">
                                                <div class="main-info">
                                                    <a href="#" target="_blank" class="no-effect">
                                                        <p class="main-head">营销宝</p>
                                                    </a>
                                                    <p class="main-tip">多场景营销智能工具集</p>
                                                    <p class="main-desc">使用中企营销宝进行营销，不论是活动组织、营销推广，还是企业宣传、产品售卖、热点跟踪，让您随时随地便捷的开展营销，提升品牌形象与影响力。</p>
                                                    <a href="market/" target="_blank">
                                                        <button class="main-btn">了解详情</button>
                                                    </a>
                                                </div>
                                                <ul class="other-info clearfix">
                                                    <li class="other-info-list">
                                                        <a href="#" target="_blank" class="no-effect">
                                                            <h3 class="other-head">大把推</h3>
                                                            <p class="other-desc">让更多客户找到你</p>
                                                        </a>
                                                        <i class="zq-icon icon17x17 c-a-arrow"></i>
                                                    </li>
                                                    <li class="other-info-list">
                                                        <a href="#" target="_blank" class="no-effect">
                                                            <h3 class="other-head">易米通</h3>
                                                            <p class="other-desc">国内创新的数字营销平台</p>
                                                        </a>
                                                        <i class="zq-icon icon17x17 c-a-arrow"></i>
                                                    </li>
                                                    <li class="other-info-list">
                                                        <a href="#" target="_blank" class="no-effect">
                                                            <h3 class="other-head">Google Adwords</h3>
                                                            <p class="other-desc">助力您的海外拓金之路</p>
                                                        </a>
                                                        <i class="zq-icon icon17x17 c-a-arrow"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="card-item">
                                        <div class="card">
                                            <div class="card-title title-even">
                                                <div class="content">
                                                    <div class="zq-product-img">
                                                        <i class="zq-icon icon40x40 crad-area-icon3"></i>
                                                    </div>
                                                    <h1>电商与业务</h1>
                                                    <p class="short-info">在线业务  轻松实现</p>
                                                </div>
                                            </div>
                                            <div class="card-content content-first bg-e8e8e8">
                                                <ul class="content-first-list">
                                                    <li>ZshopS</li>
                                                </ul>
                                            </div>

                                            <div class="card-content content-second">
                                                <div class="main-info">
                                                    <a href="#" target="_blank" class="no-effect">
                                                        <p class="main-head">ZshopS</p>
                                                    </a>
                                                    <p class="main-tip">为中小企业搭建独立电商平台，提供行业电商解决方案。</p>
                                                    <p class="main-desc">商城提供安全稳定、易用高效的在线零售管理系统，后台简单易用，购物体验流畅，促销方式灵活，数据统计分析嵌入业务各个环节，根据访问记录深入分析，随时随地呈现统计结果指导决策。帮助传统企业顺利开展线上零售业务，强化数字分析与营销推广，降低业务成本，树立企业品牌，扩大企业收益渠道。</p>
                                                    <a href="#" target="_blank">
                                                        <button class="main-btn">了解详情</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="card-item">
                                        <div class="card">
                                            <div class="card-title title-even">
                                                <div class="content">
                                                    <div class="zq-product-img">
                                                        <i class="zq-icon icon40x40 crad-area-icon4"></i>
                                                    </div>
                                                    <h1>协同与管理</h1>
                                                    <p class="short-info">连接互通  简便开放</p>
                                                </div>
                                            </div>
                                            <div class="card-content content-first bg-e1e1e1">
                                                <ul class="content-first-list">
                                                    <li>Z云邮</li>
                                                    <li>有翼云销</li>
                                                </ul>
                                            </div>

                                            <div class="card-content content-second">
                                                <div class="main-info">
                                                    <a href="#" target="_blank" class="no-effect">
                                                        <p class="main-head">Z云邮</p>
                                                    </a>
                                                    <p class="main-tip">专注企业办公效率的提升，云“游”四海的企业邮箱</p>
                                                    <p class="main-desc">帮企业提高工作效率的企业邮箱：支持微信收发信件、超大企业共享网盘，多维度的邮箱管理功能等。并且，在海外部署了多达34个收发节点，国内部署节点28个，让企业的重要邮件，全球畅“游”。</p>
                                                    <a href="#" target="_blank">
                                                        <button class="main-btn mr20">了解详情</button>
                                                    </a>
                                                    <a href="#" target="_blank">
                                                        <button class="main-white-btn">立即试用</button>
                                                    </a>
                                                </div>
                                                <ul class="other-info clearfix">
                                                    <li class="other-info-list">
                                                        <a href="#" target="_blank" class="no-effect">
                                                            <h3 class="other-head">有翼云销</h3>
                                                            <p class="other-desc">有效提升销售业绩和转化率</p>
                                                        </a>
                                                        <i class="zq-icon icon17x17 c-a-arrow"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
                <!-- 相关鞋子状态 -->


            </div><!-- Main Wrapper -->
            <div class="page-footer">
                <p>Made with <i class="fa fa-heart"></i> by skcats</p>
            </div>
        </div><!-- /Page Inner -->

    </div><!-- /Page Content -->
</div><!-- /Page Container -->



<script type="text/javascript" src="__PUBLIC__/vip/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/vip/js/function.js"></script>
<script type="text/javascript">
    $(function() {
        $("#cardArea").cardArea()
    });
</script>
{include file="public/footer"}

