<div class="row">
    <div class="col-lg-3 tips" data-tip="未填写 [转运平台]<br>未填写 [出售价格]<br>鞋子数量合计">
        <p>待收货： {$data.buy} 双</p>
    </div>
    <div class="col-lg-3 tips" data-tip="已填写 [转运平台]<br>未填写 [出售价格]<br>鞋子数量合计">
        <p>待出售： {$data.send} 双</p>
    </div>
    <div class="col-lg-3 tips" data-tip="已填写 [出售价格]<br>鞋子数量合计">
        <p>已出售： {$data.sold} 双</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 tips" data-tip="未填写 [出售价格] 的鞋子<br>公式： 价格(毒) - 成本 - 9.5%(手续费) - 100(转运费)">
        <p>预计盈利(含手续费)：<i class="fa fa-cny" aria-hidden="true"></i> {$data.profit_future}</p>
    </div>
    <div class="col-lg-3 tips" data-tip="[成本] 合计">
        <p>成本：<i class="fa fa-cny" aria-hidden="true"></i> {$data.cost}</p>
    </div>
    <div class="col-lg-3 tips" data-tip="公式： [预计盈利] / [成本]">
        <p>预计利率比：{$data.ceil_future}%</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 tips" data-tip="[出售价格] 合计">
        <p>实际盈利：<i class="fa fa-cny" aria-hidden="true"></i> {$data.profit}</p>
    </div>
    <div class="col-lg-3 tips" data-tip="[成本] 合计">
        <p>成本：<i class="fa fa-cny" aria-hidden="true"></i> {$data.cost}</p>
    </div>
    <div class="col-lg-3 tips" data-tip="公式： [实际盈利] / [成本]">
        <p>利率比：{$data.ceil}%</p>
    </div>
</div>



<div class="panel-body">
    <table class="table table-hover" style="display: none">
        <thead>
        <tr>
            <th>名称</th>
            <th>货号</th>
            <th>尺码</th>
            <th>购买平台</th>
            <th>成本</th>
            <th>转运平台</th>
            <th>出售平台</th>
            <th>出售价格</th>
            <th>预计利润</th>
            <th>利润</th>
            <th>购买日期</th>
            <th>出售日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="data.list" id="v"}
        <tr data-url="{:url('buy/chart', ['articleNumber' => $v.number, 'size' => $v.size])}">
            <th scope="row" onclick="chart($(this))">
                <img src="{$v.image}" width="35"><span>{$v.name}</span>
            </th>
            <td onclick="chart($(this))">{$v.number}</td>
            <td onclick="chart($(this))">{$v.size}</td>
            <td onclick="chart($(this))">{$v.buy_type_id}</td>
            <td onclick="chart($(this))">{$v.buy_cost}</td>
            <td onclick="chart($(this))" class="layer_tip" data-tip="费用：{$v.send_cost} 元">{$v.send_type_id}</td>
            <td onclick="chart($(this))" class="layer_tip" data-tip="手续费：{$v.sold_charge} 元">{$v.sold_type_id}</td>
            <td onclick="chart($(this))">{$v.sold_price}</td>
            <td onclick="chart($(this))" class="layer_tip" data-tip="利率比：{$v.ceil_future} %<br/>已减去 9.5% 手续费">{$v.profit_future}</td>
            <td onclick="chart($(this))">{$v.profit}</td>
            <td onclick="chart($(this))">{$v.buy_time}</td>
            <td onclick="chart($(this))">{$v.sold_time}</td>
            <td>
                <button class="btn btn-primary" onclick="edit($(this))" data-id="{$v.id}">编辑</button>
                <button type="button" class="btn btn-white" onclick="del_shoes($(this))" data-id="{$v.id}">删 除</button>
            </td>
        </tr>
        {/volist}



        </tbody>
    </table>
    <center>
        {$data.list->render()}
    </center>
</div>

<script>
    $('.tips').hover(function () {
        layer.tips($(this).attr('data-tip'), $(this),{
            tips: 1,
            time:10000,
        });
    },function () {
        layer.closeAll('tips');
    });
    $('.layer_tip').hover(function () {
        layer.tips($(this).attr('data-tip'), $(this),{
            tips: 1,
            time:10000,
        });
    },function () {
        layer.closeAll('tips');
    });
</script>

