{include file="public/header"}
<link rel="stylesheet" href="__PUBLIC__/vip/css/style.css" type="text/css" media="all">


<!-- Page Container -->
<div class="page-inner">
    <div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">
                    <img src="{$data.info.image}" width="35">
                    {$data.info.name}
                </h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="my_form" method="post" action="{:url('buy/ajax_edit')}">
                    <!-- ID -->
                    <input type="hidden" class="form-control" value="{$data.info.id}" name="id">
                    <!-- ID -->

                    <!-- 基本信息 -->
                    <div class="panel panel-white">
                        <h4 class="panel-title">基本信息</h4>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="select_search" name="number">
                                    <option value="">无</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                        <label class="col-sm-2 control-label">尺码</label>
                        <div class="col-sm-10">
                            <select class="form-control select_size" name="size" data-live-search="true">
                                <option value="">无</option>
                                {volist name="data.size" id="v"}
                                    <option value="{$v}">{$v}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    </div>
                    <!-- 基本信息 -->


                    <!-- 购买信息 -->
                    <div class="panel panel-white">
                        <h4 class="panel-title">购买信息</h4>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">[购买] 平台</label>
                            <div class="col-sm-10">
                                <select class="form-control select_buy" name="buy_type_id" data-live-search="true">
                                    {volist name="data.buy_type" key="k" id="v"}
                                    <option value="{$v.id}">{$v.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">[购买] 成本</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" value="{$data.info.buy_cost}" name="buy_cost" placeholder="成本" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">[购买] 日期</label>
                            <div class="col-sm-10">
                                {empty name="$data.info.buy_time"}
                                <input type="text" class="form-control date-picker" name="buy_time" value="" readonly="readonly" placeholder="购买日期">
                                {else/}
                                <input type="text" class="form-control date-picker" name="buy_time" value="{$data.info.buy_time|date='Y-m-d',###}" readonly="readonly" placeholder="购买日期">
                                {/empty}
                            </div>
                        </div>
                    </div>
                    <!-- 购买信息 -->


                    <!-- 转运信息 -->
                    <div class="panel panel-white">
                        <h4 class="panel-title">转运信息</h4>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">[转运] 平台</label>
                            <div class="col-sm-10">
                                <select class="form-control select_send" name="send_type_id" data-live-search="true">
                                    {volist name="data.send_type" key="k" id="v"}
                                    <option value="{$v.id}">{$v.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">[转运] 单号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{$data.info.send_code}" name="send_code" placeholder="转运单号" >
                            </div>
                        </div>
                        <div class="form-group">
                        <label class="col-sm-2 control-label">[转运] 费用</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" value="{$data.info.send_cost}" name="send_cost" placeholder="转运费用" >
                            <span class="help-block">注：线下购买随便选一个转运平台，费用填写 0.01 即可</span>
                        </div>
                    </div>
                    </div>
                    <!-- 转运信息 -->


                    <!-- 出售信息 -->
                    <div class="panel panel-white">
                        <h4 class="panel-title">出售信息</h4>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">[出售] 平台</label>
                            <div class="col-sm-10">
                                <select class="form-control select_sold" name="sold_type_id" data-live-search="true">
                                    {volist name="data.sold_type" key="k" id="v"}
                                    <option value="{$v.id}">{$v.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="display: none">
                            <label class="col-sm-2 control-label">手续费比率</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" value="9.5" min="0.1" name="sold_charge" placeholder="手续费比率" >
                                <span class="help-block">说明：[毒] 默认手续费为 9.5% 若有不同，请自行修改。其他平台不计算手续费。</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">[出售] 价格</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" value="{$data.info.sold_price}" name="sold_price" placeholder="出售价格" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">[出售] 邮费</label>
                            <div class="col-sm-10">
                                <input type="number" min="0" class="form-control" value="{$data.info.sold_express}" name="sold_express" placeholder="平台邮寄费" >
                                <span class="help-block">说明：寄给平台的邮寄费。填写了邮费，利润会减去邮费。</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">[出售] 日期</label>
                            <div class="col-sm-10">
                                {empty name="$data.info.sold_time"}
                                <input type="text" class="form-control date-picker" name="sold_time" value="" readonly="readonly" placeholder="出售日期">
                                {else/}
                                <input type="text" class="form-control date-picker" name="sold_time" value="{$data.info.sold_time|date='Y-m-d',###}" readonly="readonly" placeholder="出售日期">
                                {/empty}
                            </div>
                        </div>
                    </div>
                    <!-- 出售信息 -->
                </form>
            </div>
        </div>
    </div>
</div><!-- Row -->
</div>



{include file="public/script"}
{include file="public/footer"}
<script>
    // 遍历插入商品
    $(function () {
        $('#select_search').selectpicker({
            size:10,
            title:'请输入名称 或 货号',
            placeholder:'请输入名称 或 货号',
            liveSearch:true,
            liveSearchPlaceholder:'请选择平台',
        });
        $('.select_size').selectpicker({
            size:15,
            title:'尺码',
            liveSearch:true,
            liveSearchPlaceholder:'请选择尺码',
        });
        $('.select_buy').selectpicker({
            size:15,
            title:'购买平台',
            liveSearch:true,
            liveSearchPlaceholder:'请选择平台',
        });
        $('.select_send').selectpicker({
            size:15,
            title:'转运平台',
            liveSearch:true,
            liveSearchPlaceholder:'请选择平台',
        });
        $('.select_sold').selectpicker({
            size:15,
            title:'出售平台',
            liveSearch:true,
            liveSearchPlaceholder:'请选择平台',
        });

        $('.select_size').selectpicker('val', '{$data.info.size}');
        $('.select_buy').selectpicker('val', '{$data.info.buy_type_id}');
        $('.select_send').selectpicker('val', '{$data.info.send_type_id}');
        $('.select_sold').selectpicker('val', '{$data.info.sold_type_id}');

        get_goods('{$data.info.number}', '#select_search', '{$data.info.number}');

        // 商品框输入事件
        $('#select_search').parent().find("input").on('input propertychange', function(){
            var keyword = $('#select_search').parent().find("input").val();
            get_goods(keyword, '#select_search');
        });
    });


</script>