{include file="public/header"}
<style>
    .header_box{
        height: 280px;
    }
    .search_box{
        position: absolute;
    }
    .add_box{
        position: absolute;
        display: none;
    }
</style>

<!-- Page Container -->
<div class="page-container">
    <!-- Page Sidebar -->
    <!-- /Page Sidebar -->
    {include file="public/sidebar"}

    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Header -->
        {include file="public/page_header"}
        <!-- /Page Header -->


        <!-- Page Inner -->
        <div class="page-inner">
            <div class="page-title">
                <h3 class="breadcrumb-header">购买统计</h3>
            </div>
            <div id="main-wrapper">

                <!-- 盈利情况 -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- 搜索框 -->
                        <div class="panel panel-white">
                            <div class="panel-body header_box">
                                <!-- 搜索框 -->
                                <div class="search_box">
                                    <form class="form-inline form_search">
                                            <div class="row">
                                                <div class="form-group" style="width: 450px">
                                                    <p class="help-block">名称</p>
                                                    <select class="form-control select_name" data-live-search="true" style="width: 100%;">
                                                        <option value="">无</option>
                                                    </select>
                                                </div>
                                                <div class="form-group" style="width: 80px">
                                                    <p class="help-block">尺码</p>
                                                    <select class="form-control select_size" data-live-search="true">
                                                        <option value="">无</option>
                                                        {volist name="data.size" id="v"}
                                                        <option value="{$v}">{$v}</option>
                                                        {/volist}
                                                    </select>
                                                </div>
                                                <div class="form-group" style="width: 150px">
                                                    <p class="help-block">购买平台</p>
                                                    <select class="form-control select_buy" data-live-search="true">
                                                        {volist name="data.buy_type" key="k" id="v"}
                                                        <option value="{$v.id}">{$v.name}</option>
                                                        {/volist}
                                                    </select>
                                                </div>
                                                <div class="form-group" style="width: 150px">
                                                    <p class="help-block">转运平台</p>
                                                    <select class="form-control select_send" data-live-search="true">
                                                        {volist name="data.send_type" key="k" id="v"}
                                                        <option value="{$v.id}">{$v.name}</option>
                                                        {/volist}
                                                    </select>
                                                </div>
                                                <div class="form-group" style="width: 150px">
                                                    <p class="help-block">出售平台</p>
                                                    <select class="form-control select_sold" data-live-search="true">
                                                        {volist name="data.sold_type" key="k" id="v"}
                                                        <option value="{$v.id}">{$v.name}</option>
                                                        {/volist}
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="form-group">
                                                    <p class="help-block">价格区间</p>
                                                    <input type="number" class="form-control select_price_start">-
                                                    <input type="number" class="form-control select_price_end">
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="form-group">
                                                    <p class="help-block">出售日期</p>
                                                    <input type="text" class="form-control date-picker sold_time_start" readonly="readonly" placeholder="开始时间">-
                                                    <input type="text" class="form-control date-picker sold_time_end" readonly="readonly" placeholder="结束时间">
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="form-group">
                                                    <p class="help-block">&nbsp;</p>
                                                    <a type="submit" class="btn btn-primary btn_search" data-tab="0">
                                                        <i class="fa fa-search"></i> 搜索
                                                    </a>
                                                    <button class="btn btn-warning btn_reset">
                                                        <i class="fa fa-refresh"></i> 重置
                                                    </button>
                                                    <a class="btn btn-default change_shoes">
                                                        <i class="fa fa-mail-forward"></i> 跳转添加鞋子
                                                    </a>
                                                </div>
                                            </div>
                                    </form>
                                </div>
                                <!-- 搜索框 -->


                                <!-- 添加框 -->
                                <div class="add_box">
                                    <form class="form-inline">
                                        <div class="row">
                                            <div class="form-group" style="width: 450px">
                                                <p class="help-block">名称</p>
                                                <select class="form-control select_name_add" data-live-search="true" style="width: 100%">
                                                    <option value="">无</option>
                                                </select>
                                            </div>
                                            <div class="form-group" style="width: 80px">
                                                <p class="help-block">尺码</p>
                                                <select class="form-control select_size_add" data-live-search="true">
                                                    <option value="">无</option>
                                                    {volist name="data.size" id="v"}
                                                        <option value="{$v}">{$v}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                            <div class="form-group" style="width: 150px">
                                                <p class="help-block">购买平台</p>
                                                <select class="form-control select_buy_add" data-live-search="true">
                                                    {volist name="data.buy_type" id="v"}
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <p class="help-block">成本</p>
                                                <input class="form-control cost_add"  type="number" min="0">
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="form-group" style="width: 150px">
                                                <p class="help-block">转运平台</p>
                                                <select class="form-control select_send_add" data-live-search="true">
                                                    {volist name="data.send_type" id="v"}
                                                    <option value="{$v.id}">{$v.name}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <p class="help-block">转运单号</p>
                                                <input class="form-control send_number_add">
                                            </div>
                                            <div class="form-group">
                                                <p class="help-block">转运费用</p>
                                                <input class="form-control send_cost_add" type="number" min="0">
                                            </div>
                                            <div class="form-group" style="width: 150px">
                                                <p class="help-block">出售平台</p>
                                                <select class="form-control select_sold_add" data-live-search="true">
                                                    {volist name="data.sold_type" id="v"}
                                                    <option value="{$v.id}">{$v.name}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <p class="help-block">出售价格</p>
                                                <input class="form-control sold_price_add" type="number" min="0">
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="form-group">
                                                <p class="help-block">购买日期</p>
                                                <input type="text" class="form-control date-picker buy_time_add" readonly="readonly" placeholder="购买日期">
                                            </div>
                                            <div class="form-group">
                                                <p class="help-block">出售日期</p>
                                                <input type="text" class="form-control date-picker sold_time_add" readonly="readonly" placeholder="出售日期">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <p class="help-block">&nbsp;</p>
                                                <a type="submit" class="btn btn-success btn_add">
                                                    <i class="fa fa-plus"></i> 添加
                                                </a>
                                                <a class="btn btn-default change_search">
                                                    <i class="fa fa-mail-reply"></i> 返回搜索
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- 添加框 -->


                            </div>
                        </div>
                        <!-- 搜索框 -->



                        <!-- 内容框 -->
                        <div class="panel panel-white">
                            <div class="panel-body">
                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                        {volist name="data.month" key="k" id="v"}
                                        {if condition="$k == 1"}
                                        <li role="presentation" class="tab_select active" data-start="{$v.start}" data-end="{$v.end}">
                                        {else/}
                                        <li role="presentation" class="tab_select" data-start="{$v.start}" data-end="{$v.end}">
                                        {/if}
                                                <a href="#tab_{$v.num}" role="tab" data-toggle="tab">{$v.num} 月</a>
                                            </li>
                                        {/volist}
                                        <li role="presentation" class="tab_select"><a href="#tab_0" role="tab" data-toggle="tab">全部</a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">

                                        {volist name="data.month" key="k" id="v"}
                                        {if condition="$k == 1"}
                                        <div role="tabpanel" class="tab-pane active fade in" id="tab_{$v.num}">
                                        {else/}
                                        <div role="tabpanel" class="tab-pane fade in" id="tab_{$v.num}">
                                        {/if}
                                            <div class="ajax_page">

                                            </div>
                                        </div>
                                        {/volist}
                                        <div role="tabpanel" class="tab-pane fade in" id="tab_0">
                                            <div class="ajax_page">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 内容框 -->

                    </div>
                </div>
                <!-- 盈利情况 -->

            </div><!-- Main Wrapper -->

        </div><!-- /Page Inner -->

    </div><!-- /Page Content -->
</div><!-- /Page Container -->



{include file="public/script"}
{include file="public/footer"}
<script>
    $('.select_size').selectpicker({
        size:15,
        title:'尺码',
        placeholder:'请选择尺码'
    });
    $('.select_buy').selectpicker({
        size:15,
        title:'购买平台',
        placeholder:'请选择平台'
    });
    $('.select_send').selectpicker({
        size:15,
        title:'转运平台',
        placeholder:'请选择平台'
    });
    $('.select_sold').selectpicker({
        size:15,
        title:'出售平台',
        placeholder:'请选择平台'
    });
    $('.select_size_add').selectpicker({
        size:15,
        title:'尺码',
        placeholder:'请选择尺码'
    });
    $('.select_buy_add').selectpicker({
        size:15,
        title:'购买平台',
        placeholder:'请选择平台'
    });
    $('.select_send_add').selectpicker({
        size:15,
        title:'转运平台',
        placeholder:'请选择平台'
    });
    $('.select_sold_add').selectpicker({
        size:15,
        title:'出售平台',
        placeholder:'请选择平台'
    });



    // 搜索框与添加框的切换
    $('.change_shoes').click(function () {
        $('.search_box').fadeOut('normal');
        $('.add_box').fadeIn('normal');
    });
    $('.change_search').click(function () {
        $('.search_box').fadeIn('normal');
        $('.add_box').fadeOut('normal');
    });

    // 清除搜索条件
    $('.btn_reset').click(function () {
        $('.form_search input').val("");
        $('.select_name').selectpicker('val', '');
        $('.select_size').selectpicker('val', '');
        $('.select_buy').selectpicker('val', '');
        $('.select_send').selectpicker('val', '');
        $('.select_sold').selectpicker('val', '');
        layer.msg('已清除');
        return false;
    });

    // 添加鞋子
    $('.btn_add').click(function () {
        layer.load();
        var form_data = {
            'number'         : $('.select_name_add').selectpicker('val'),
            'size'           : $('.select_size_add').selectpicker('val'),
            'buy_type_id'    : $('.select_buy_add').selectpicker('val'),
            'buy_cost'       : $('.cost_add').val(),
            'send_type_id'   : $('.select_send_add').selectpicker('val'),
            'send_code'      : $('.send_number_add').val(),
            'send_cost'      : $('.send_cost_add').val(),
            'sold_type_id'   : $('.select_sold_add').selectpicker('val'),
            'sold_price'     : $('.sold_price_add').val(),
            'buy_time'       : $('.buy_time_add').val(),
            'sold_time'      : $('.sold_time_add').val(),
        };
        console.log(form_data);
       $.post("{:url('buy/ajax_add')}",form_data,function (ret) {
            layer.closeAll('loading');
            if(ret.code == 200){
                layer.msg(ret.msg);
            }else{
                layer.msg(ret.msg,function () {});
            }
       });
    });
    var is_doen = 1;
    // 遍历插入商品
    $(function () {
        // 获取 全部选项卡 第一页
        var start = $('.tab_select').eq(0).data('start');
        var end = $('.tab_select').eq(0).data('end');
        AjaxPage(1,'0', start,end);


        $.get("{:url('buy/ajax_get_goods')}",{},function (ret) {
           if (ret.code == 200){
               $('.select_name').append(ret.data);
               $('.select_name').selectpicker({
                   size:15,
                   title:'请输入名称 或 货号',
                   placeholder:'请输入名称 或 货号',
               });

               is_doen = 2;

               $('.select_name_add').append(ret.data);
               $('.select_name_add').selectpicker({
                   size:15,
                   title:'请输入名称 或 货号',
                   placeholder:'请输入名称 或 货号',
               });
           }
       });
    });

    // 点击分页触发的ajax
    function AjaxPage(page,tab, start, end){
        layer.load(2);
        var number = '';
        if (is_doen == 2){
            number = $('.select_name').selectpicker('val');
        }


        var where = {
            'number'            : number,
            'size'              : $('.select_size').selectpicker('val'),
            'buy_type_id'       : $('.select_buy').selectpicker('val'),
            'send_type_id'      : $('.select_send').selectpicker('val'),
            'sold_type_id'      : $('.select_sold').selectpicker('val'),
            'price_start'       : $('.select_price_start').val(),
            'price_end'         : $('.select_price_end').val(),
            'sold_time_start'   : $('.sold_time_start').val(),
            'sold_time_end'     : $('.sold_time_end').val(),
        };
        var form_data = {
            'page':page,
            'tab':tab,
            'start':start,
            'end':end,
            'where':where,
        };

        console.log(form_data);
        $.get("{:url('buy/ajax_page')}",form_data,function (ret) {
            layer.closeAll('loading');
            $('.ajax_page').eq(tab).html(ret);
            $('.ajax_page').eq(tab).find('table').fadeIn('normal');
        });
    }

    // 绑定ajax分页事件
    $('.tab_select').on('click',function () {
        var index = $(this).index();
        var start = $(this).data('start');
        var end = $(this).data('end');

        $('.btn_search').attr('data-tab', index);

        AjaxPage(1, index, start, end);
    });

    $('.btn_search').on('click',function () {
        var index = $(this).attr('data-tab');
        $('.tab_select').eq(index).click();
    });

    function del_shoes(obj){
        layer.confirm('确认删除吗?', {skin:'layui-layer-lan'},function(index){
            layer.load();
            $.post("{:url('buy/ajax_del')}", {'id': obj.data('id')}, function (ret) {
                layer.closeAll('loading');
                if (ret.code == 200) {
                    obj.parent().parent().remove();
                    layer.msg(ret.msg);
                } else {
                    layer.msg(ret.msg, function () {
                    });
                }
            });

            layer.close(index);
        });

    };

    function edit(obj){
        var id = obj.attr('data-id');
        layer.open({
            type: 2,
            title: '编辑',
            shadeClose: true,
            offset: ['100px', '20%'],
            shade: 0.5,
            scrollbar:false,
            maxmin: true, //开启最大化最小化按钮
            area: ['1200px', '700px'],
            content: "{:url('buy/edit')}" + '?id='+id,
            btn:['确认修改', '取消'],
            yes:function (index) {
                layer.load();
                var body = layer.getChildFrame('body', index);//通过该对象可以获取iframe中的dom元素
                // 提交表单
                body.find('#my_form').ajaxSubmit(function(ret) {
                    if (ret.code == 200) {
                        // 修改Dom 图片
                        obj.parent().parent().find('th').find('img').attr('src', ret.data.image);
                        // 修改Dom 名称
                        obj.parent().parent().find('th').find('span').html(ret.data.name);
                        // 修改Dom 货号
                        obj.parent().parent().find('td').eq(0).html(ret.data.number);
                        // 修改Dom 尺码
                        obj.parent().parent().find('td').eq(1).html(ret.data.size);
                        // 修改Dom 购买平台
                        obj.parent().parent().find('td').eq(2).html(ret.data.buy_type_id);
                        // 修改Dom 成本
                        obj.parent().parent().find('td').eq(3).html(ret.data.buy_cost);
                        // 修改Dom 转运平台
                        obj.parent().parent().find('td').eq(4).html(ret.data.send_type_id);
                        // 修改Dom 转运费用
                        obj.parent().parent().find('td').eq(4).attr('data-tip', '费用：'+ ret.data.send_cost +' 元');
                        // 修改Dom 出售平台
                        obj.parent().parent().find('td').eq(5).html(ret.data.sold_type_id);
                        // 修改Dom 出售手续费
                        obj.parent().parent().find('td').eq(5).attr('data-tip', '手续费：'+ ret.data.sold_charge +' 元');
                        // 修改Dom 出售价格
                        obj.parent().parent().find('td').eq(6).html(ret.data.sold_price);
                        // 修改Dom 预计利润
                        obj.parent().parent().find('td').eq(7).html('-');
                        // 修改Dom 利润
                        obj.parent().parent().find('td').eq(8).html(ret.data.profit);
                        // 修改Dom 购买日期
                        obj.parent().parent().find('td').eq(9).html(ret.data.buy_time);
                        // 修改Dom 出售日期
                        obj.parent().parent().find('td').eq(10).html(ret.data.sold_time);

                        layer.closeAll('loading');
                        layer.msg(ret.msg);
                        layer.close(index);
                    } else {
                        layer.msg(ret.msg, function () { });
                    }
                });
            }
        });
    }

    function chart(obj){
        var url = obj.parent().attr('data-url');
        layer.open({
            type: 2,
            title: false,
            closeBtn: 0, //不显示关闭按钮
            shade: 0.5,
            shadeClose:true,
            area: ['100%', '600px'],
            offset: 't',
            // time: 5000, //2秒后自动关闭
            anim: 5,
            content: [url, 'no'], //iframe的url，no代表不显示滚动条
        });
    }
</script>

