{include file="public/header"}
<style>
    .header_box{
        height: 280px;
    }
    .search_box{
        position: absolute;
    }
    .add_box{
        position: absolute;
        display: none;
    }
</style>

<!-- Page Container -->
<div class="page-container">
    <!-- Page Sidebar -->
    <!-- /Page Sidebar -->
    {include file="public/sidebar"}

    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Header -->
        {include file="public/page_header"}
        <!-- /Page Header -->


        <!-- Page Inner -->
        <div class="page-inner">
            <div class="page-title">
                <h3 class="breadcrumb-header">购买统计</h3>
            </div>
            <div id="main-wrapper">

                <!-- 盈利情况 -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- 搜索框 -->
                        <div class="panel panel-white">
                            <div class="panel-body header_box">
                                <!-- 搜索框 -->
                                <div class="search_box">
                                    <form class="form-inline">
                                            <div class="row">
                                                <div class="form-group" style="width: 450px">
                                                    <p class="help-block">名称</p>
                                                    <select class="form-control select_name" data-live-search="true">
                                                        <option value="no">无</option>
                                                        <option value="36">EG7487 Air Jordan 1 Mid Lakers 湖人 紫黄
                                                    </select>
                                                </div>
                                                <div class="form-group" style="width: 80px">
                                                    <p class="help-block">尺码</p>
                                                    <select class="form-control select_size" data-live-search="true">
                                                        <option value="no">无</option>
                                                        <option value="36">36</option>
                                                        <option value="37">37</option>
                                                        <option value="38">38</option>
                                                        <option value="39">39</option>
                                                        <option value="41">41</option>
                                                        <option value="42">42</option>
                                                        <option value="43">43</option>
                                                        <option value="44">44</option>
                                                        <option value="45">45</option>
                                                        <option value="46">46</option>
                                                        <option value="47">47</option>
                                                    </select>
                                                </div>
                                                <div class="form-group" style="width: 150px">
                                                    <p class="help-block">购买平台</p>
                                                    <select class="form-control select_buy" data-live-search="true">
                                                        <option value="no">无</option>
                                                        <option value="36">stockx</option>
                                                        <option value="37">nike us</option>
                                                        <option value="38">footlocker</option>
                                                        <option value="38">kidsfootlocker</option>
                                                        <option value="38">43EINHALBGM</option>
                                                    </select>
                                                </div>
                                                <div class="form-group" style="width: 150px">
                                                    <p class="help-block">转运平台</p>
                                                    <select class="form-control select_send" data-live-search="true">
                                                        <option value="no">无</option>
                                                        <option value="36">转运中国</option>
                                                        <option value="37">转运四方</option>
                                                        <option value="38">顺丰快递</option>
                                                    </select>
                                                </div>
                                                <div class="form-group" style="width: 150px">
                                                    <p class="help-block">出售平台</p>
                                                    <select class="form-control select_sold" data-live-search="true">
                                                        <option value="no">无</option>
                                                        <option value="36">毒</option>
                                                        <option value="37">Nice</option>
                                                        <option value="38">咸鱼</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="form-group">
                                                    <p class="help-block">价格区间</p>
                                                    <input type="number" class="form-control">-
                                                    <input type="number" class="form-control">
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="form-group">
                                                    <p class="help-block">购买时间</p>
                                                    <input type="text" class="form-control date-picker" readonly="readonly" placeholder="开始时间">-
                                                    <input type="text" class="form-control date-picker" readonly="readonly" placeholder="结束时间">
                                                </div>
                                                <div class="form-group">
                                                    <p class="help-block">出售时间</p>
                                                    <input type="text" class="form-control date-picker" readonly="readonly" placeholder="开始时间">-
                                                    <input type="text" class="form-control date-picker" readonly="readonly" placeholder="结束时间">
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="form-group">
                                                    <p class="help-block">&nbsp;</p>
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="fa fa-search"></i> 搜索
                                                    </button>
                                                    <button class="btn btn-warning btn_reset">
                                                        <i class="fa fa-refresh"></i> 重置
                                                    </button>
                                                    <a class="btn btn-default change_shoes">
                                                        <i class="fa fa-mail-forward"></i> 添加鞋子
                                                    </a>
                                                </div>
                                            </div>
                                    </form>
                                </div>
                                <!-- 搜索框 -->


                                <!-- 添加框 -->
                                <div class="add_box">
                                    <form class="form-inline" method="post" action="{:url('buy/index')}">
                                        <div class="row">
                                            <div class="form-group" style="width: 350px">
                                                <p class="help-block">名称</p>
                                                <select class="form-control select_name" data-live-search="true" name="name">
                                                    <option value="no">无</option>
                                                    <option value="36">EG7487 Air Jordan 1 Mid Lakers 湖人 紫黄</option>
                                                </select>
                                            </div>
                                            <div class="form-group" style="width: 80px">
                                                <p class="help-block">尺码</p>
                                                <select class="form-control select_size" data-live-search="true" name="size">
                                                    <option value="no">无</option>
                                                    <option value="36">36</option>
                                                    <option value="37">37</option>
                                                    <option value="38">38</option>
                                                    <option value="39">39</option>
                                                    <option value="41">41</option>
                                                    <option value="42">42</option>
                                                    <option value="43">43</option>
                                                    <option value="44">44</option>
                                                    <option value="45">45</option>
                                                    <option value="46">46</option>
                                                    <option value="47">47</option>
                                                </select>
                                            </div>
                                            <div class="form-group" style="width: 150px">
                                                <p class="help-block">购买平台</p>
                                                <select class="form-control select_buy" data-live-search="true" name="buy_time_id">
                                                    <option value="no">无</option>
                                                    <option value="36">stockx</option>
                                                    <option value="37">nike us</option>
                                                    <option value="38">footlocker</option>
                                                    <option value="38">kidsfootlocker</option>
                                                    <option value="38">43EINHALBGM</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <p class="help-block">成本</p>
                                                <input class="form-control" type="number" min="0" name="buy_cost">
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="form-group" style="width: 150px">
                                                <p class="help-block">转运平台</p>
                                                <select class="form-control select_send" data-live-search="true" name="sene_type_id">
                                                    <option value="no">无</option>
                                                    <option value="36">转运中国</option>
                                                    <option value="37">转运四方</option>
                                                    <option value="38">顺丰快递</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <p class="help-block">转运单号</p>
                                                <input class="form-control" name="send_code">
                                            </div>
                                            <div class="form-group">
                                                <p class="help-block">转运费用</p>
                                                <input class="form-control" type="number" min="0" name="send_cost">
                                            </div>
                                            <div class="form-group" style="width: 150px">
                                                <p class="help-block">出售平台</p>
                                                <select class="form-control select_sold" data-live-search="true" name="sole_type_id">
                                                    <option value="no">无</option>
                                                    <option value="36">毒</option>
                                                    <option value="37">Nice</option>
                                                    <option value="38">咸鱼</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <p class="help-block">出售价格</p>
                                                <input class="form-control" type="number" min="0" name="sold_price">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <p class="help-block">购买时间</p>
                                                <input type="text" class="form-control date-picker" readonly="readonly" placeholder="购买时间" name="buy_time">
                                            </div>
                                            <div class="form-group">
                                                <p class="help-block">出售时间</p>
                                                <input type="text" class="form-control date-picker" readonly="readonly" placeholder="出售时间" name="sold_time">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <p class="help-block">&nbsp;</p>
                                                <a type="submit" class="btn btn-success btn_add">
                                                    <i class="fa fa-plus"></i> 添加
                                                </a>
                                                <a class="btn btn-default change_search">
                                                    <i class="fa fa-mail-reply"></i> 返回搜索
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- 添加框 -->


                            </div>
                        </div>
                        <!-- 搜索框 -->



                        <!-- 内容框 -->
                        <div class="panel panel-white">
                            <div class="panel-body">
                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                        <li role="presentation" class="active"><a href="#tab_all" role="tab" data-toggle="tab">全部</a></li>
                                        <li role="presentation"><a href="#tab_1" role="tab" data-toggle="tab">一月</a></li>
                                        <li role="presentation"><a href="#tab_2" role="tab" data-toggle="tab">二月</a></li>
                                        <li role="presentation"><a href="#tab_3" role="tab" data-toggle="tab">三月</a></li>
                                        <li role="presentation"><a href="#tab_4" role="tab" data-toggle="tab">四月</a></li>
                                        <li role="presentation"><a href="#tab_5" role="tab" data-toggle="tab">五月</a></li>
                                        <li role="presentation"><a href="#tab_6" role="tab" data-toggle="tab">六月</a></li>
                                        <li role="presentation"><a href="#tab_7" role="tab" data-toggle="tab">七月</a></li>
                                        <li role="presentation"><a href="#tab_8" role="tab" data-toggle="tab">八月</a></li>
                                        <li role="presentation"><a href="#tab_9" role="tab" data-toggle="tab">九月</a></li>
                                        <li role="presentation"><a href="#tab_10" role="tab" data-toggle="tab">十月</a></li>
                                        <li role="presentation"><a href="#tab_11" role="tab" data-toggle="tab">十一月</a></li>
                                        <li role="presentation"><a href="#tab_12" role="tab" data-toggle="tab">十二月</a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active fade in" id="tab_all">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <p>盈利：<i class="fa fa-cny" aria-hidden="true"></i> 1522789.5</p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <p>成本：<i class="fa fa-cny" aria-hidden="true"></i> 82225789.5</p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <p>售出：<i class="fa fa-cny" aria-hidden="true"></i> 282225789.5</p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <p>待收货： 43 双</p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <p>待出售： 65 双</p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <p>已出售： 89 双</p>
                                                </div>
                                            </div>

                                            <div class="panel-body">
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>名称</th>
                                                        <th>货号</th>
                                                        <th>尺码</th>
                                                        <th>状态</th>
                                                        <th>购买平台</th>
                                                        <th>成本</th>
                                                        <th>转运平台</th>
                                                        <th>转运费用</th>
                                                        <th>出售平台</th>
                                                        <th>手续费</th>
                                                        <th>出售价格</th>
                                                        <th>利润</th>
                                                        <th>购买日期</th>
                                                        <th>出售日期</th>
                                                        <th>操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <!-- <th scope="row">
                                                            <a href="#">Air Jordan 1 Retro High Blue Chill 2019全明星 北卡蓝 女</a>
                                                        </th>
                                                        <td>
                                                            <a href="#">CD0461-401</a>
                                                        </td>
                                                        <td>38</td>
                                                        <td><span class="label label-danger">待收货</span></td>
                                                        <td>stockx</td>
                                                        <td>4388.6</td>
                                                        <td>转运中国</td>
                                                        <td>108.2</td>
                                                        <td>毒</td>
                                                        <td>299</td>
                                                        <td>5862</td>
                                                        <td>1240</td>
                                                        <td>2019-3-4</td>
                                                        <td>2019-4-2</td>
                                                        <td>没想好</td> -->
                                                    </tr>
<!--                                                     <tr>
                                                        <th scope="row">
                                                            <a href="#">Air Jordan 1 Retro High Blue Chill 2019全明星 北卡蓝 女</a>
                                                        </th>
                                                        <td>
                                                            <a href="#">CD0461-401</a>
                                                        </td>
                                                        <td>38</td>
                                                        <td><span class="label label-warning">待出售</span></td>
                                                        <td>stockx</td>
                                                        <td>4388.6</td>
                                                        <td>转运中国</td>
                                                        <td>108.2</td>
                                                        <td>毒</td>
                                                        <td>299</td>
                                                        <td>5862</td>
                                                        <td>1240</td>
                                                        <td>2019-3-4</td>
                                                        <td>2019-4-2</td>
                                                        <td>没想好</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <a href="#">Air Jordan 1 Retro High Blue Chill 2019全明星 北卡蓝 女</a>
                                                        </th>
                                                        <td>
                                                            <a href="#">CD0461-401</a>
                                                        </td>
                                                        <td>38</td>
                                                        <td><span class="label label-success">已出售</span></td>
                                                        <td>stockx</td>
                                                        <td>4388.6</td>
                                                        <td>转运中国</td>
                                                        <td>108.2</td>
                                                        <td>毒</td>
                                                        <td>299</td>
                                                        <td>5862</td>
                                                        <td>1240</td>
                                                        <td>2019-3-4</td>
                                                        <td>2019-4-2</td>
                                                        <td>没想好</td>
                                                    </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab_1">
                                            <p>111111</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab_2">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab_3">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab_4">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab_5">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab_6">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab_7">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab_8">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab_9">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab_10">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab_11">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab_12">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 内容框 -->

                    </div>
                </div>
                <!-- 盈利情况 -->

            </div><!-- Main Wrapper -->
            <div class="page-footer">
                <p>Made with <i class="fa fa-heart"></i> by skcats</p>
            </div>
        </div><!-- /Page Inner -->

    </div><!-- /Page Content -->
</div><!-- /Page Container -->



{include file="public/script"}
{include file="public/footer"}
<script>
    $('.select_name').selectpicker({
        size:15,
        title:'请选择名称 或 货号',
        placeholder:'请选择名称 或 货号',
    });
    $('.select_size').selectpicker({
        size:15,
        title:'尺码',
        placeholder:'请选择尺码'
    });
    $('.select_buy').selectpicker({
        size:15,
        title:'购买平台',
        placeholder:'请选择平台'
    });
    $('.select_send').selectpicker({
        size:15,
        title:'转运平台',
        placeholder:'请选择平台'
    });
    $('.select_sold').selectpicker({
        size:15,
        title:'出售平台',
        placeholder:'请选择平台'
    });

    // 搜索框与添加框的切换
    $('.change_shoes').click(function () {
        $('.search_box').fadeOut('normal');
        $('.add_box').fadeIn('normal');
    });
    $('.change_search').click(function () {
        $('.search_box').fadeIn('normal');
        $('.add_box').fadeOut('normal');
    });

    // 清除搜索条件
    $('.btn_reset').click(function () {
        layer.msg('已清除');
        return false;
    });

    // 添加鞋子
    $('.btn_add').click(function () {
        layer.load();
        var form_data = {
            'name':$("input[select='name']").val(),
            'size':$("input[select='size']").val(),
            'buy_type_id':$("input[name='buy_type_id']").val(),
            'buy_cost':$("input[name='buy_cost']").val(),
            'send_type_id':$("input[name='send_type_id']").val(),
            'send_code':$("input[name='send_code']").val(),
            'send_cost':$("input[name='send_cost']").val(),
            'sold_type_id':$("input[name='sold_type_id']").val(),
            'sold_price':$("input[name='sold_price']").val(),
            'buy_time':$("input[name='buy_time']").val(),
            'sold_time':$("input[name='sold_time']").val(),
        };
        console.log(form_data);
        // 假装在添加
        setTimeout(function(){
           $.post("{:url('buy/ajax_add')}",form_data,function (ret) {
                layer.closeAll('loading');
                if(ret.code == 200){
                    layer.msg(ret.msg);
                }else{
                    layer.msg(ret.msg,function () {});
                }
           });
        }, 1000);

    });


</script>

