</body>
</html>
<!-- Javascripts -->
<script src="/static/assets/plugins/jquery/jquery-3.1.0.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/assets/plugins/uniform/js/jquery.uniform.standalone.js"></script>
<script src="/static/assets/plugins/switchery/switchery.min.js"></script>
<script src="/static/assets/js/ecaps.min.js"></script>
<!-- 图表插件 -->
<script src="/static/js/echarts.js"></script>
<!-- 图表插件 -->
