<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Admin Dashboard Template">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="skcats">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>RANK 系统</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="__PUBLIC__/ecaps/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/ecaps/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/ecaps/plugins/icomoon/style.css" rel="stylesheet">
    <link href="__PUBLIC__/ecaps/plugins/uniform/css/default.css" rel="stylesheet"/>
    <link href="__PUBLIC__/ecaps/plugins/switchery/switchery.min.css" rel="stylesheet"/>
    <link href="__PUBLIC__/ecaps/plugins/nvd3/nv.d3.min.css" rel="stylesheet">

    <!-- Theme Styles -->
    <link href="__PUBLIC__/ecaps/css/ecaps.min.css" rel="stylesheet">
    <link href="__PUBLIC__/ecaps/css/custom.css" rel="stylesheet">

    <!-- selectPicker -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">
    <!-- selectPicker -->


    <!-- 时间插件 -->
    <link href="__PUBLIC__/ecaps/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<style>
    a{
        transition: all 0.5s linear;
    }
    .table tbody>tr:hover{
        color:#0070E0;
        transform: scale(1.01);
        transition: all 0.1s linear;
        cursor: pointer;
    }
    .table>tbody>tr>td{
        vertical-align:middle;
        text-align:center;
    }
    .table>tbody>tr>th{
        vertical-align:middle;
    }
    .table>thead>tr>th{
        text-align:center;
    }
    .table tbody>tr:hover a{
        color:#0070E0;
    }

</style>

