<!-- Ecaps 默认模板 js -->
<script src="__PUBLIC__/ecaps/plugins/jquery/jquery-3.1.0.min.js"></script>
<script src="__PUBLIC__/ecaps/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/ecaps/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="__PUBLIC__/ecaps/plugins/uniform/js/jquery.uniform.standalone.js"></script>
<script src="__PUBLIC__/ecaps/plugins/switchery/switchery.min.js"></script>
<script src="__PUBLIC__/ecaps/plugins/d3/d3.min.js"></script>
<script src="__PUBLIC__/ecaps/plugins/nvd3/nv.d3.min.js"></script>
<script src="__PUBLIC__/ecaps/plugins/flot/jquery.flot.min.js"></script>
<script src="__PUBLIC__/ecaps/plugins/flot/jquery.flot.time.min.js"></script>
<script src="__PUBLIC__/ecaps/plugins/flot/jquery.flot.symbol.min.js"></script>
<script src="__PUBLIC__/ecaps/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="__PUBLIC__/ecaps/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="__PUBLIC__/ecaps/plugins/flot/jquery.flot.pie.min.js"></script>
<script src="__PUBLIC__/ecaps/plugins/chartjs/chart.min.js"></script>
<script src="__PUBLIC__/ecaps/js/ecaps.min.js"></script>
<!-- Ecaps 默认模板 js -->


<!-- layer.js -->
<script src="__PUBLIC__/layer/layer.js"></script>
<!-- layer.js -->


<!-- 图表插件 -->
<script src="__PUBLIC__/echart/echarts.js"></script>
<!-- 图表插件 -->


<!--<script src="__PUBLIC__/ecaps/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>-->
<!--<script>-->
    <!--$('.date-picker').datepicker({-->
        <!--todayHighlight:true,-->
        <!--orientation: "top auto",-->
        <!--autoclose: true,-->
        <!--format: 'yyyy-mm-dd'-->
    <!--});-->
<!--</script>-->
