<div class="page-sidebar">
    <a class="logo-box" href="index.html">
        <span>RANK</span>
        <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
        <i class="icon-close" id="sidebar-toggle-button-close"></i>
    </a>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul class="accordion-menu">
                <li>
                    <a href="{:url('center/index')}">
                        <i class="menu-icon icon-home4"></i><span>主页中心</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/diff')}">
                        <i class="menu-icon icon-home4"></i><span>差价统计</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/money')}">
                        <i class="menu-icon icon-home4"></i><span>购买统计</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/buy')}">
                        <i class="menu-icon icon-home4"></i><span>购买统计test</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/index')}">
                        <i class="menu-icon icon-home4"></i><span>总销售统计-TOP50</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/one')}">
                        <i class="menu-icon icon-home4"></i><span>单品统计</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/sizeChange')}">
                        <i class="menu-icon icon-home4"></i><span>尺码转换</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>