<div class="page-sidebar">
    <a class="logo-box" href="index.html">
        <span>ecaps</span>
        <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
        <i class="icon-close" id="sidebar-toggle-button-close"></i>
    </a>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul class="accordion-menu">
                <li>
                    <a href="index.html">
                        <i class="menu-icon icon-home4"></i><span>统计</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>