<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>RANK 系统 - 登录</title>
<link rel="stylesheet" href="__PUBLIC__/login/css/style.css">
<link rel="icon" type="image/x-icon" href="__PUBLIC__/ico/web.ico"/>

</head>

<body>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<body>
<div class="cotn_principal">
  <div class="cont_centrar">
    <div class="cont_login">
      <div class="cont_info_log_sign_up">
        <div class="col_md_login">
          <div class="cont_ba_opcitiy">
            <h2>登 陆</h2>
            <p>如果没有账号，请先去注册.</p>
            <button class="btn_login" onclick="cambiar_login()">登 陆</button>
          </div>
        </div>
        <div class="col_md_sign_up">
          <div class="cont_ba_opcitiy">
            <h2>注 册</h2>
            <p>快速注册</p>
            <button class="btn_sign_up" onclick="cambiar_sign_up()">注 册</button>
          </div>
        </div>
      </div>
      <div class="cont_back_info">
        <div class="cont_img_back_grey"> <img src="__PUBLIC__/login/img/po.jpg" alt="" /> </div>
      </div>
      <div class="cont_forms" >
        <div class="cont_img_back_"> <img src="__PUBLIC__/login/img/po.jpg" alt="" /> </div>
        <div class="cont_form_login"> <a href="#" onclick="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
          <h2>登 陆</h2>
          <input type="text" class="login_user"  placeholder="用户名" />
          <input type="password" class="login_pass" placeholder="密码" />
          <button class="btn_login sure_login" onclick="cambiar_login()">登 陆</button>
        </div>
        <div class="cont_form_sign_up"> <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
          <h2>注 册</h2>
          <input type="text"     class="register_user" placeholder="用户名" />
          <input type="password" class="register_pass" placeholder="密码" />
          <input type="password" class="register_repass" placeholder="确认密码" />
          <button class="btn_sign_up sure_register" onclick="cambiar_sign_up()">注 册</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="__PUBLIC__/login/js/index.js"></script>
<script src="/static/assets/plugins/jquery/jquery-3.1.0.min.js"></script>
</body>

</body>
{include file="public/script"}
<script>
  $(function () {
      $('.btn_login').click();



      // enter 键
      $("body").keydown(function () {
          if (event.keyCode == "13") {
              $('.sure_login').click();
          }
      });
      var lock = 1;
      // 登录
      $('.sure_login').click(function () {
          if (lock != 1){
              return false;
          }
          lock = 2;
          var form_data = {
              'username'  :$('.login_user').val(),
              'password'  :$('.login_pass').val(),
          };
          $.post("{:url('user/ajax_login')}",form_data,function (ret) {
              if (ret.code == 200){
                  layer.msg(ret.msg);

                  setTimeout(function () {
                      location.href = "{:url('center/index')}";
                  }, 1000);
              }else{
                  layer.msg(ret.msg,function () {});
              }
          });
          lock = 1
      });

      // 注册
      $('.sure_register').click(function () {
          var form_data = {
              'username'  :$('.register_user').val(),
              'password'  :$('.register_pass').val(),
              'repassword':$('.register_repass').val(),
          };
          $.post("{:url('user/ajax_register')}",form_data,function (ret) {
              if (ret.code == 200){
                  layer.msg(ret.msg);

                  setTimeout(function () {
                      location.href = "{:url('user/vip')}";
                  }, 1000);
              }else{
                  layer.msg(ret.msg,function () {});
              }
          })
      })
  });
</script>
</html>
